@import "tailwindcss";
@plugin "daisyui";

@keyframes toastProgress {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

.animate-toast-progress {
    animation: toastProgress 2s linear forwards;
}